*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;


}
#main-control{
  width: 80%;
}
.grid{
  margin: auto;
  border-right: 5px;
  box-shadow: 4px 4px 1px rgba(0,0,0,0.5);
  text-align: center;
  }
#turn-off{
  margin: auto;
  border-right: 5px;
  box-shadow: 4px 4px 1px rgba(0,0,0,0.5);
  text-align: center;
}
.button{
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.drum-pad{
  margin:10px;
  box-shadow: 4px 4px 1px rgba(0,0,0,0.5);
}

.grid:hover{
  opacity: 0.3;
}
#instructions{

}





